@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Comfortaa';
  background-color: #f3d5b5;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: #a55d2d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 22px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  margin: 10px;
}

.nav > .nav-links > a:hover {
  color: #fea645;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.nav-logo {
  height: 140px;
  margin-top: -30px;
  margin-left: -10px;
}

.banner-img {
  width: 100%;         /* faz a imagem ocupar toda a largura da tela */
  height: auto;        /* mantém a proporção original */
  display: block;      /* remove espaços embaixo da imagem */
  margin: 0;           /* remove margens indesejadas */
}

/* ESTILIZAÇÃO DO FORM DE CADASTRO */

.form-box {
  max-width: 300px;
  background: #e7bc91;
  overflow: hidden;
  border-radius: 16px;
  color: #a55d2d;
  margin-top: 15px;
  margin-left: 150px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #fff;
  opacity: 70%;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #e7bc91;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #e7bc91;
  font-size: .9rem;
  padding: 8px 15px;
}

.form-section {
  padding: 16px;
  font-size: .85rem;
  background-color: #e7bc91;
  box-shadow: #a55d2d 0 -1px;
}

.form-section a {
  font-weight: bold;
  color: #a55d2d;
  transition: color .3s ease;
}

.form-section a:hover {
  color: #a55d2d;
  text-decoration: underline;
}

 /*botão*/
.form button {
  background-color: #a55d2d;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color: #a55d2d;
}

/* ESTILIZAÇÃO DA EXPLICAÇÃO */
.form-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px; /* <-- Aqui controla o espaço entre os dois blocos */
  margin-left: 250px;
}
.form-texto-explicativo {
  max-width: 300px;
  background-color: #fff4e6;
  color: #495057;
  opacity: 70%;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 130px;
  margin-left: 40px;
  font-family: Poppins;
}

.form-texto-explicativo h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #a55d2d;
}

.form-texto-explicativo p {
  font-size: 1rem;
  line-height: 1.4;
}
